:root {
    font-family: "Roboto", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  color: #F9FAF8;
  background-color: #1F2937;
}

.header .logo {
  width: 500px;
  font-size: 24px;
  font-weight: bold;
}

.header ul {
  display: flex;
  color: #E6E7EB;
  font-size: 18px;
  list-style-type: none;
  gap: 16px;
}

.hero-container {
  background-color: #1F2937;
  padding: 64px 0;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .margin {
  width: 325px;
  height: auto;
}

.title-container {
    width: 525px;
    height: auto;
}

.title-container .title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
}

.title-container .subtitle {
  color: #E5E7EB;
  font-size: 18px;
  margin-top: 8px;
}

.hero button {
  color: #F9FAF8;
  background-color: #3882F6;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 8px;
  padding: 8px 48px;
}

.info-container {
  text-align: center;
  padding: 64px;
  padding-bottom: 128px;
}

.info-container .title {
  margin-bottom: 64px;
  font-size: 36px;
  font-weight: bold;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.card img {
  width: 200px;
  height: 200px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.card p {
  font-size: 18px;
  width: 200px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #E5E7EB;
  padding: 124px 500px;
}

.quote p {
  font: light italic #1F2937;
  font-size: 32px;
  color: #1F2937;
}

.quotee p {
  font-size: 24px;
}

.sign-up-container {
  display: flex;
  justify-content: space-between;
}

.sign-up-card {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  color: #F9FAF8;
  background-color: #3882F6;
  margin: 128px 0;
  padding: 50px 128px;
  border-radius: 8px;
}

.sign-up-card button {
  font-weight: bold;
  background: none;
  border: 3px solid #E6E7EB;
  border-radius: 8px;
  padding: 2px 48px;
}

.sign-up-title h2 {
  font-size: 24px;
}